##Max SDK
_MaxSDK_/

## Build generated
build/
DerivedData/

## Outmoded source tracking
CVS/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1
!default.mode1
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout

## VS
.vs/
*.user

## Latex
*.aux
*.synctex.gz
*.toc
*.log
*.out
*.code-workspace

## Binaries
externals/
maxframelib.mxo/
*.o
*.d_fat

## Package Testing
test-builds/

## James Documentation
__pycache__/
__tmp__/
refpages/
help_files/templates/
object_relationships.py
Max_Object_List.h

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

Icon?
.DS_Stor*
