*.exe
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
*.xcworkspace
*.xcuserdata
build-*
ipch/*


Icon?
.DS_Stor*