
// Xcode target configuration settings 

PRODUCT_NAME = $(TARGET_NAME)

// Per architecture and deployment settings

ARCHS = x86_64 arm64

MACOSX_DEPLOYMENT_TARGET = 10.7
CLANG_CXX_LANGUAGE_STANDARD = c++11
CLANG_CXX_LIBRARY = libc++
CLANG_X86_VECTOR_INSTRUCTIONS = avx

LLVM_LTO = Monolithic

OTHER_LDFLAGS = -framework Accelerate

OTHER_CFLAGS = -fvisibility=hidden
OTHER_CPLUSPLUSFLAGS = -fvisibility=hidden -Winconsistent-missing-override -Wno-missing-braces
