
// Paths

C74SUPPORT = $(SRCROOT)/FrameLib_Max_Objects/_MaxSDK_/c74support
HEADER_SEARCH_PATHS = "$(C74SUPPORT)/max-includes" "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes" "$(PROJECT_DIR)/FrameLib_Dependencies"
FRAMEWORK_SEARCH_PATHS = "$(C74SUPPORT)/msp-includes" "$(C74SUPPORT)/jit-includes"

// Special Files

INFOPLIST_FILE = Info.plist
GCC_PREFIX_HEADER = $(C74SUPPORT)/max-includes/macho-prefix.pch

// Install Location

SKIP_INSTALL = NO
DEPLOYMENT_LOCATION = YES
DSTROOT = $(SRCROOT)/Current Test Version/FrameLib/externals/
INSTALL_PATH = /
COPY_PHASE_STRIP = NO

// Static Configuration (don't change these)

WRAPPER_EXTENSION = mxo
GENERATE_PKGINFO_FILE = YES

GCC_PREPROCESSOR_DEFINITIONS = "DENORM_WANT_FIX = 1" "NO_TRANSLATION_SUPPORT = 1"

// Flags to enforce some build-time checks for the symbols used while not actually performing a hard link

C74_SYM_LINKER_FLAGS = @$(C74SUPPORT)/max-includes/c74_linker_flags.txt

OTHER_LDFLAGS = $(C74_SYM_LINKER_FLAGS)

// all symbols hidden by default
// mark a function to be exported with the C74_EXPORT macro -- most likely this will only apply to the main() function
